* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Force LF for Docker/Linux files
*.sh text eol=lf
Dockerfile text eol=lf
docker/nginx.conf text eol=lf
docker/supervisord.conf text eol=lf
.dockerignore text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
